@model IEnumerable<noticiasAuto.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Permissões</h2>
<br />

<table class="table">
    <thead class="thead-dark">
        <th scope="col">Nome de utilizador</th>
        
        @foreach (var item in Model)
        {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
   
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
    </td>
</tr>

        }

    </thead>
</table>
