@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>Informações sobre os Alunos e a Aplicação</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <br />
        <h4>- Pedro Filipe Alves Tapadas Nº18781 </h4>
        <h4>- Guilherme Filipe Henriques Silva Nº19113 </h4>
        <h4>- Licenciatura em Engenharia Informática</h4>
        <h4>- Disciplina de Tecnologia da Internet II - Componente MVC (Back-End)</h4>
        <hr />
        <p style="text-indent: 20px">Esta Aplicação consta num jornal informativo sobre notícias do desporto automóvel. </p>
        <p style="text-indent: 20px">Os utilizadores anónimos desta aplicação apenas podem ver as noticias, comentários, equipas e respectivos jogadores.</p>
        <p style="text-indent: 20px">Os utilizadores registados, têm a permissão para comentar notícias e editar/apagar os seus comentários.</p>
        <p style="text-indent: 20px">Os utilizadores do tipo jornalista para além das permissões de um utilizador registado, podem criar novas notícias. </p>
    </div>
</div>