@{
    ViewBag.Title = "Contact";
}

    <div>
        <h2>Contas para testes: </h2>
        <hr />
        <h4>Administrador</h4>
        <p>Username: admin@ipt.pt</p>
        <p>password: 123_Asd</p>
        <hr />
        <h4>Jornalista</h4>
        <p>Username: jornalista@ipt.pt</p>
        <p>password: 123_Asd</p>
        <hr />
        <h4>Utilizador Autenticado</h4>
        <p>Username: userComum@ipt.pt</p>
        <p>password: 123_Asd</p>
        <hr />
    </div>